name: CI Pipeline Docker

on:
  pull_request:
    branches:
      - develop
      - main

jobs:
  build-and-push-docker:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3

      # Login Docker registry
      - name: Docker login
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u <DorianTrd> --password-stdin

      # Build backend
      - name: Build backend Docker image
        run: docker build -t backend-ci ./backend

      # Build frontend
      - name: Build frontend Docker image
        run: docker build -t frontend-ci ./frontend

      # Tag & push backend
      - name: Tag & push backend
        run: |
          docker tag backend-ci ghcr.io/<DorianTrd>/cloudnative-backend:${{ github.sha }}
          docker push ghcr.io/<DorianTrd>/cloudnative-backend:${{ github.sha }}

      # Tag & push frontend
      - name: Tag & push frontend
        run: |
          docker tag frontend-ci ghcr.io/<DorianTrd>/cloudnative-frontend:${{ github.sha }}
          docker push ghcr.io/<DorianTrd>/cloudnative-frontend:${{ github.sha }}

      # Stop existing containers if any
      - name: Stop any existing containers
        run: |
          docker rm -f backend-test || true
          docker rm -f frontend-test || true

      # Run containers for healthcheck
      - name: Run containers for healthcheck
        run: |
          docker run -d --name backend-test -p 3000:3000 backend-ci
          docker run -d --name frontend-test -p 8080:80 frontend-ci
          docker ps


      - name: Check backend health
        run: curl -f http://localhost:3000 || exit 1

      - name: Check frontend health
        run: curl -f http://localhost:8080 || exit 1
