name: CI Pipeline

on:
  pull_request:
    branches:
      - develop

jobs:

  lint:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
      - run: npm install --prefix frontend
      - run: npm install --prefix backend
      - run: npm run lint --prefix frontend
      - run: npm run lint --prefix backend

  test:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
      - run: npm install --prefix backend
      - run: npm test --prefix backend

  sonar:
    runs-on: self-hosted
    env:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
    steps:
      - uses: actions/checkout@v3
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
      - run: sonar-scanner
<<<<<<< HEAD

=======
>>>>>>> 63d875b (feat: init Sonar with github)
=======
      - name: Run sonar scanner
        run: sonar-scanner
>>>>>>> fd2088a (fix: ci.yml)
=======
      - run: sonar-scanner
>>>>>>> 1d00da0 (fix: change ci.yml)
=======
      - name: Run Sonar Scanner
        run: sonar-scanner
>>>>>>> b9a6339 (fix: add dependencies)
=======
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
      - name: Install backend dependencies
        run: npm install --prefix backend
      - name: Run SonarCloud scan
        run: |
          npx sonar-scanner \
            -Dsonar.login=${{ secrets.SONAR_TOKEN }} \
            -Dsonar.sources=backend \
            -Dsonar.host.url=https://sonarcloud.io
>>>>>>> 317cee3 (fix: ci.yml)
