name: CI Pipeline

on:
  pull_request:
    branches:
      - develop

jobs:
  lint:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
      - run: npm install
      - run: npm run lint:all

  test:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
      - run: npm install --prefix backend
      - run: npm test --prefix backend

  sonar:
    runs-on: self-hosted
    env:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
    steps:
      - uses: actions/checkout@v3
<<<<<<< HEAD
<<<<<<< HEAD
      - run: sonar-scanner
<<<<<<< HEAD

=======
>>>>>>> 63d875b (feat: init Sonar with github)
=======
      - name: Run sonar scanner
        run: sonar-scanner
>>>>>>> fd2088a (fix: ci.yml)
=======
      - run: sonar-scanner
>>>>>>> 1d00da0 (fix: change ci.yml)
