name: CI Pipeline

on:
  pull_request:
    branches:
      - develop

jobs:

  lint:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
      - run: npm install --prefix frontend
      - run: npm install --prefix backend
      - run: npm run lint --prefix frontend
      - run: npm run lint --prefix backend

  test:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
      - run: npm install --prefix backend
      - run: npm test --prefix backend

  sonar:
    runs-on: self-hosted
    env:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
    steps:
      - uses: actions/checkout@v3
      - name: Run Sonar Scanner
        run: sonar-scanner
